# Compiled Source #
###################
*.pyc

# ignore vim swap files
*.*.swp

# ignore experimental Python file
testing.py

# ignore progress files that I make for myself
TODO

# for now, ignore autosaves
saves/autosaves/*.json